// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

        #goback {
        width:80%;
        margin:10px auto;/*主面板DIV居中*/
        height:100px;
        background-color: yellow;
        }

        #post_content {
        width:80%;
        margin:10px auto;/*主面板DIV居中*/
        height:100px;
        background-color: yellow;
    }

    #post_comment {
        width:80%;
        margin:10px auto;/*主面板DIV居中*/
        height:300px;
        background-color: yellow;
    }
